// .babelrc
{
    "presets": [
        ["@babel/preset-env", {
            // "useBuiltIns": false, //"usage", // or "entry"
            "corejs": 3
        }],
        "@babel/react", 
        "@babel/preset-typescript"
    ],
    "plugins": [["@babel/transform-runtime", {
        "corejs": 3
      }]]
}
