// .babelrc
{
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage", // false, //, // or "entry"
            "corejs": 3
        }],
        "@babel/react", 
        "@babel/preset-typescript"
    ],
    "plugins": [["@babel/transform-runtime", {
        "corejs": 3
      }]]
}
